body {
	margin: 0;
	padding: 0;
	font-family: 'Saira Semi Condensed', sans-serif;
    background-color: black;
    color: #ffff;
}

img {
	width: 31%;
	height: auto;
	margin: 33%;
	margin-bottom: 1%;
	margin-top: 1%;
}

h2 {
	margin-left: 0em;
    padding-left: 10em;
    padding-right: 10em;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.9em;
    font-weight: 200;
}

table {
	margin-bottom: 5em;
	margin-left: 25%;
    border-collapse: collapse;
    width: 50%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

form {
	text-align: center;
	margin: 25%;
	margin-bottom: 5%;
	margin-top: 5%;
}

input {
	width: 40em;
}

#check {
	width: 3em;
	padding-left: 0em;
}

button {
	margin-top: 1em;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
	padding-bottom: 3%;
	font-size:large;
	background-color: black;
	color: white;
	border-color: #f2f2f2;
	border-style:double;
}

header {
	margin-bottom: -2em;
}

button:hover {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border-color: #000000;
	border-style:double;
}

nav ul {
	list-style: none;
	margin: 36px;
	padding: 0;
}
  
nav li {
	font-weight: 420;
	font-size: 1.4em;
	display: inline-block;
	margin-left: 51em;
	text-transform: uppercase;
}

nav a {
	text-decoration: none;
	color: white;
  }
  
nav ul li a:hover {
	text-decoration: underline;
	text-underline-offset: 0.4em;
}

